.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    padding-top: 128px;
    background: linear-gradient(135deg, #f4f6f9 0%, #e9ecef 50%, #dfe3e8 100%);
}

.register-card {
    width: 40%;
    border-radius: 16px;
}

.field {
    margin-bottom: 1.5rem;
}

/* Ensures PrimeNG icons within text boxes line up neatly */
.p-input-icon-left {
    width: 100%;
}

.p-input-icon-left>input {
    width: 100%;
}