<div class="p-card p-shadow-3 contract-details-card">
    <div class="p-card-header">
        <h2 class="p-text-bold">📝 Contract Details</h2>
    </div>

    <div class="p-card-body p-fluid">
        <div class="p-field colGap">
            <label class="p-text-bold" style="white-space: nowrap; margin-bottom: 0;">ID:</label>
            <span class="p-text-secondary">{{ contract.id }}</span>
        </div>
        <div class="p-field colGap">
            <label class="p-text-semibold" style="white-space: nowrap; margin-bottom: 0;">Title:</label>
            <span class="p-text-secondary">
                <div *ngIf="action === 'edit'">
                    <div class="p-md-10">
                        <input type="text" [(ngModel)]="contract.title" pInputText class="p-inputtext-sm w-full" />
                    </div>
                </div>
                <div *ngIf="action === 'view'">
                    <div class="p-col-12 p-md-10">
                        {{ contract.title }}
                    </div>
                </div>
            </span>
        </div>
        <div class="p-field colGap">
            <label class="p-text-semibold" style="white-space: nowrap; margin-bottom: 0;">Status:</label>
            <span class="p-text-secondary">
                <span [ngClass]="{
          'p-tag p-tag-success': contract.status === 'Completed',
          'p-tag p-tag-warning': contract.status === 'Pending',
          'p-tag p-tag-danger': contract.status === 'Rejected'
        }">
                    {{ contract.status }}
                </span>
            </span>
        </div>

        <div class="p-field colGap mb-16">
            <label class="p-text-semibold" style="white-space: nowrap; margin-bottom: 0;">Created:</label>
            <span class="p-text-secondary">{{ contract.createdAt | date:'medium' }}</span>
        </div>


        <div *ngIf="action === 'edit'">
            <div class="p-d-flex p-jc-end p-mt-3 mt-16">
                <!-- Reviewer -->
                <button *ngIf="currentRole === 'REVIEWER'" pButton label="Submit Review"
                    class="p-button-info p-button-rounded p-button-sm" (click)="completeContract(contract)">
                </button>

                <!-- Admin -->
                <button *ngIf="currentRole === 'ADMIN'" pButton label="Complete Sign-off"
                    class="p-button-success p-button-rounded p-button-sm" (click)="completeContract(contract)">
                </button>
            </div>
        </div>

    </div>
</div>